p{
    margin: 0;
    font-family:monospace;
    color: white;
}

body{
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    background-color: rgb(42, 42, 42);
}

.title{
    font-size: 2.5rem;
    color: white;
    font-family:monospace;
    font-weight: 700;
}

.scores{
    display: flex;
    gap:3rem;
    font-size: 1.3rem;
}

.main-container{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
    border-radius: 1rem;
    padding: 1.5rem 1rem;
    background-color:  rgba(128, 128, 128, 0.756);
    box-shadow: 3px 3px 10px 1px rgba(149, 149, 149, 0.301);
}

.container-rps{
    display: flex;
    gap:1rem;
    padding: 1rem;
}

.container-rps p{
    color: white;
    margin-top: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
}

.container-rps button{
    border: none;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 2px 2px 10px 1px rgba(147, 147, 147, 0.423);
}

.container-rps img{
    height: 5rem;
}

.rock-button{
    background-color:rgb(123, 187, 224);
    transition: background-color 0.2s ease;
}

.rock-button:hover{
    background-color:rgb(158, 204, 231);
}

.paper-button{
    background-color:rgb(141, 187, 132);
    transition: background-color 0.2s ease;
}

.paper-button:hover{
    background-color:rgb(171, 213, 163);
}

.scissors-button{
    background-color:rgb(218, 135, 127);
    transition: background-color 0.2s ease;
}

.scissors-button:hover{
    background-color:rgb(224, 161, 155);
}

.announcements{
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-items: center;
}

.announcements p{
    display: flex;
    align-items: center;
}

.icons{
    height: 2rem;
}

.reset-button{
    background-color: rgb(244, 162, 97);
    border: none;
    color: white;
    height: 2rem;
    width: 70%;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-family: monospace;
    padding-bottom: 0.2rem;
    box-shadow: 3px 3px 10px 1px rgba(255, 148, 61, 0.186);
}

.reset-button:hover{
    background-color: rgb(234, 173, 122);
    transition: background-color 0.2s ease;
}

@media(max-width: 500px){
    html{
        font-size: 10px;
    }
}